<div class="flex col">
  <div class="test-select-dropdown-container">
    <button #button type="button" class="test-select-dropdown-button" (click)="hidden = !hidden">
      @if (formGroup.controls[el['form-id']].value) {
        @if (el['multiselect'] && formGroup.controls[el['form-id']].value.length > 1) {
          Выбрано несколько
        } @else {
          {{ formGroup.controls[el['form-id']].value }}
        }
      } @else {
        Не выбрано
      }
    </button>
    <div #dropdown class="flex col test-select-dropdown" [ngClass]="{'hidden': hidden}">
      @if (el['choices']) {
        @for (choice of el['choices']; track choice) {
          @if (!el['not-nullable-and-select-one'] || !isSelected(choice)) {
            <button type="button"
                    class="test-select-choice-button"
                    [ngClass]="{'selected': isSelected(choice)}"
                    (click)="choose(choice)">
              {{ choice }}
            </button>
          }
        }
      }
    </div>
  </div>

  @if (el['description']) {
    <label class="description">{{ el['description'] }}</label>
  }
</div>
