@import "normalize", "my-normalize", "font", "flex", "button";

html {
  background: #ffffff;
  color: #000000;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px; // 17px не лучший выбор, самый лучший 16px
}

:root {
  --main-color: #FFE783;
  --selected-color: #FFDA42;
  --light-gray-color: #C3C3C3;
  --gray-color: #9D9D9D;

  --border-color: var(--light-gray-color);
  --placeholder-color: var(--gray-color);
  --description-color: var(--gray-color);


  --label-width: 140px;
  --base-width: 500px;
  --medium-width: 300px;

  --line-height: 22px;
  --form-gap-x: 17px; // 10px checkboxes
  --form-gap-y: 15px;


  --border: solid 1px var(--border-color);
  --border-radius: 3px;
}

label.test-form-label {
  display: block;
  width: var(--label-width);
  min-height: 1.5rem;
  margin: 13px 0 0 13px;
}

label.required:after {
  content:"*";
  color: red;
}

label.description, label.error {
  min-height: 24px;
  margin-top: 9px;

  line-height: 16.82px;
  font-size: 13px;

  &.description {
    color: var(--description-color);
  }

  &.error {
    color: red;
  }
}



.test-form-field {
  width: var(--base-width);
}

.form-gap-x {
  column-gap: var(--form-gap-x);
}

.form-gap-y {
  row-gap: var(--form-gap-y);
}

.medium-width {
  width: var(--medium-width);
}
