<div class="flex">

  <div class="flex col">


    <div class="flex">
      <label class="test-form-label">button</label>
      <button>just button</button>
    </div>
    <div class="flex">
      <label class="test-form-label">button</label>
      <button disabled>just disabled button</button>
    </div>

    <div class="flex">
      <label class="test-form-label">button</label>
      <button class="accent">accent</button>
    </div>
    <div class="flex">
      <label class="test-form-label">button</label>
      <button class="accent" disabled>accent, disabled</button>
    </div>

    <div class="flex">
      <label class="test-form-label required">button</label>
      <button class="main accent">main, accent</button>
    </div>
    <div class="flex">
      <label class="test-form-label required">button</label>
      <button class="main accent" disabled>main, accent, disabled</button>
    </div>



  </div>
</div>
